asgiref==3.6.0
astroid==2.14.2
autopep8==2.0.1
dill==0.3.6
Django==4.1.6
django-cors-headers==3.13.0
djangorestframework==3.14.0
isort==5.12.0
lazy-object-proxy==1.9.0
mccabe==0.7.0
platformdirs==3.0.0
pycodestyle==2.10.0
pylint==2.16.1
pylint-django==2.5.3
pylint-plugin-utils==0.7
pytz==2022.7.1
sqlparse==0.4.3
tomlkit==0.11.6
wrapt==1.14.1
